body {
    background-color: #ffffff;
    text-align: center;
    background-image: url(FAL68HLUcAI_uDf.jpeg);
    background-size: cover;
}
.Mondai {
    background-color: #b9e3eb;
    border: 1px solid #020202;
    border-radius: 5px;
    padding: 70px;
    max-width: 700px;
    margin: 200px 0 0 450px; 
}