body {
    background-color: #5e6ceb;
    text-align: center;
}
.Mondai {
    background-color: #6ad6e9;
    border: 1px solid #020202;
    border-radius: 5px;
    padding: 20px;
    max-width: 650px;
    margin: 250px 0 0 600px; 
}